{% load i18n %}
<aside class="hidden lg:block bg-gray-100 border-r border-gray-300 min-h-screen">
    <div class="bg-linkedout-orange text-white text-4xl font-bold p-4">Linked<span
            class="bg-white text-linkedout-orange px-1 rounded">out</span></div>
    <nav class="grid gap-4 p-4 text-xl text-gray-600">
        <a href="{% url 'feed' %}">🏠 {% trans 'Inicio' %}</a>

        {% if request.user.groups.all.0.name == 'Professional' %}
        <a href="{% url 'search_jobs' %}">💼 {% trans 'Zona laboral' %}</a>
        <a href="{% url 'post' %}">➕ {% trans 'Crear Publicación' %}</a>
        {% endif %}

        {% if request.user.groups.all.0.name == 'Company' %}
        <a href="{% url 'search_professionals' %}">💼 {% trans 'Zona laboral' %}</a>
        <a href="{% url 'post_job' %}">➕ {% trans 'Crear oferta laboral' %}</a>
        {% endif %}

        <a href="{% url 'messages' %}">💬 {% trans 'Chat' %}</a>
        <a href="{% url 'profile' %}">👤 {% trans 'Perfil' %}</a>
        <a href="{% url 'logout' %}">🚪 {% trans 'Cerrar sesión' %}</a>
    </nav>
</aside>