{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Inicio | LinkedOut' %}{% endblock %}

{% block content %}
<div class="max-w-3xl mx-auto py-6 flex flex-col gap-6">

  {% include "components/post_card.html" with full_name="First Guy" headline="Java Technical Lead" time_ago="17 h" content="Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s." comments_text="5 Comentarios" comments_url=comment_url_1 %}

  {% include "components/post_card.html" with full_name="First Guy" headline="Java Technical Lead" time_ago="17 h" content="" image_emoji="🖼️" comments_url=comment_url_2 %}

</div>
{% endblock %}