{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{{ page_title }} | LinkedOut{% endblock %}

{% block desktop_sidebar %}{% endblock %}
{% block topbar %}{% endblock %}
{% block bottombar %}{% endblock %}

{% block content %}
<div class="fixed inset-0 z-50 bg-gray-300 flex items-center justify-center overflow-hidden">

    <div
        class="bg-white w-full max-w-[550px] h-full sm:h-auto sm:max-h-screen sm:rounded-xl px-6 py-8 flex flex-col items-center justify-center relative shadow-2xl">

        <div class="bg-linkedout-orange w-[220px] h-[140px] flex items-center justify-center mb-8">
            <h1 class="text-white text-3xl lg:text-4xl font-bold flex items-center gap-1">
                Linked<span class="bg-white text-linkedout-orange px-1.5 py-0.5 rounded-sm">out</span>
            </h1>
        </div>

        <form class="w-full max-w-sm flex flex-col gap-4" method="POST" action="{% url 'login' %}">
            {% csrf_token %}

            <div class="flex flex-col gap-1">
                <label for="username" class="font-bold text-black text-sm md:text-base">{% trans "Usuario/Correo electrónico" %}</label>
                <input type="text" id="username" name="username" placeholder="{% trans "Ingrese su usuario o correo electronico" %}"
                    class="w-full bg-[#E5E5E5] border border-gray-400 rounded px-4 py-2 text-gray-700 outline-none focus:border-linkedout-orange focus:ring-1 focus:ring-linkedout-orange text-center md:text-left text-sm">
            </div>

            <div class="flex flex-col gap-1">
                <label for="password" class="font-bold text-black text-sm md:text-base">{% trans "Contraseña" %}</label>
                <input type="password" id="password" name="password" placeholder="{% trans "Ingrese su Contraseña" %}"
                    class="w-full bg-[#E5E5E5] border border-gray-400 rounded px-4 py-2 text-gray-700 outline-none focus:border-linkedout-orange focus:ring-1 focus:ring-linkedout-orange text-center md:text-left text-sm">
            </div>

            <div class="flex justify-center mt-2">
                <button type="submit"
                    class="bg-linkedout-orange text-white font-bold py-2.5 px-10 rounded-full hover:opacity-90 transition-opacity text-sm md:text-base">
                    {%trans "Iniciar Sesión" %}
                </button>
            </div>
        </form>

        <div class="mt-4 text-center">
            <a class="text-linkedout-orange font-bold text-sm hover:underline">
                {% trans "¿Olvidaste tu contraseña?" %}
            </a>
        </div>

        <div class="mt-8 mb-2">
            <a href="{% url 'register' %}"
                class="bg-linkedout-orange text-white font-bold py-2.5 px-6 rounded-full hover:opacity-90 transition-opacity text-sm md:text-base">
                {% trans "¿No tienes cuenta? Registrarse" %}
            </a>
        </div>

    </div>
</div>
{% endblock %}